.container {
  margin: 1rem;
}

.addcovid__form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.addcovid__form_right {
  padding: 1rem;
}
.addcovid__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}
.addcovid__title {
  color: #1e90ff;
  margin-bottom: 1rem;
  font-weight: bolder;
  font-size: 50px;
  line-height: 92px;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form__label {
  margin-bottom: 1rem;
  font-size: 24px;
  line-height: 20px;
}
.form__input {
  background: #ffffff;
  border: 2px solid #1e90ff;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding: 1rem 0.5rem;
}

.form__select {
  background: #ffffff;
  border: 2px solid #1e90ff;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding: 1rem 0.5rem;
}

.form__submit {
  background-color: #1e90ff;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
     * Nothing TODO Here.
     * We dont change style addcovid. 
     */
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .addcovid__form {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .addcovid__form_left {
    flex-basis: 60%;
  }

  .addcovid__form_right {
    flex-basis: 40%;
  }
}
