/* Small Screen */
.section__card {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 2rem;
  background-color: #fff;
}

.section__card__status {
  color: #353b48;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 1rem;
}
.section__card__total {
  font-weight: bold;
  font-size: 50px;
  margin-top: 1rem;
}
.section__card__total_positif {
  color: #1e90ff;
}

.section__card__total_sembuh {
  color: #06d6a0;
}

.section__card__total_meninggal {
  color: #ef476f;
}

/* Medium Screen */
@media (min-width: 768px) {
}
/* Large Screen */
@media (min-width: 992px) {
  .section__card {
    flex-basis: 30%;
  }
}
