/* Small Screen */
.container {
  background-color: #1e90ff;
  padding: 1rem;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__brand {
  font-style: normal;
  font-weight: bolder;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 1rem;
  text-align: center;
}
.footer__list {
  font-size: 25px;
  font-weight: 400;
  list-style: none;
}
.footer__item {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding: 3rem auto;
  }
  .footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__brand {
    margin: 0;
  }
  .footer__list {
    display: flex;
  }
  .footer__item {
    margin: 0 1rem;
  }
}
