/* Small Screen */
.container {
  margin: 1rem;
}

.section__title {
  color: #1e90ff;
  text-align: center;
  font-weight: bold;
  font-size: 61px;
  margin-bottom: 1rem;
}
.section__description {
  color: #118ab2;
  margin-bottom: 2rem;
  font-size: 1.59rem;
  text-align: center;
}

/* Medium Screen */
@media (min-width: 768px) {
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }
}
